@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Det här är en sida för att presentera mig, <span class="text-decoration-underline">Jakob Zetterqvist</span>.</p>
</div>
