@{
    ViewData["Title"] = "Education";
}
<h1 class="text-center" display-4>Utbildningar/Kurser</h1>

<ul class="mt-5">
    <li class="mt-5">
        .Net-utvecklare - YH
    </li>
    <li class="mt-5">
        NätverksTeknik - Komvux
    </li>
    <li class="mt-5">
        Flygtekniker - Gymnasiet
    </li>
    <li class="mt-5">
        Grundskola
    </li>
</ul>
