@{
    ViewData["Title"] = "Experience";
}
<h1 class="text-center display-4">Erfarenheter</h1>

<ul>
    <li class="mt-5">
        Lorem Ipsum
    </li>
    <li class="mt-5">
        Lorem Ipsum
    </li>
    <li class="mt-5">
        Lorem Ipsum
    </li>
    <li class="mt-5">
        Lorem Ipsum
    </li>
</ul>
