@{
    ViewData["Title"] = "About me";
}
<h1 class="text-center display-5">Om mig</h1>

<dl class="ml-5 mt-5">
    <dt>Namn</dt>
    <dd>Jakob Zetterqvist</dd>
    <dt>Ålder</dt>
    <dd>29</dd>
    <dt>Bor i</dt>
    <dd>Tierp</dd>
    <dt>Språkkunskaper</dt>
    <dd>Svenska, Engelska</dd>
</dl>
<div class="d-flex justify-content-center">
    <img src="~/img/Porträtt.png" class="d-flex height="200" width="300" />
</div>